<p id="notice"><%= notice %></p>

<p>
  <strong>Deliver date:</strong>
  <%= @report.deliver_date %>

  <h2>セキュリティ担当からのお知らせ</h2>
  <% @report.informations.each do |information| %>
    <div><%= information.text %></div>
  <% end %>

  
    
  
  <div class="row">
    <% @report.articles.each do |article| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= article.title %></h3>
            <p><%= article.opening %></p>
            <p><%= link_to '読む', article.url, class: "btn btn-primary" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</p>

<%= link_to 'Back', reports_path %>
